<html>
<head><title>P&aacute;gina aburrida de inicio</title></head>
<body>
<font color= "red" >Eacute;sto es una p&aacute;gina aburrida de inicio<br />
Y se ejecuta en<strike> {{ ansible_nodename }} </strike> </font>
</body>
</html>
